    <footer>
        <section class="footer-pages-link">
            <div class="left-link">
                <a class="margin03rem" href="/legalmentions"><p>Mentions Légales</p></a>
                <a class="margin03rem" href="/cgu"><p>CGU</p></a>
                <a class="margin03rem" href="/cookies"><p>Cookies</p></a>
            </div>
            <div class="right-link">
                <a class="margin03rem" href="/contact"><p>Contact</p></a>
                <a class="margin03rem" href="/about"><p>A propos</p></a>
                <a class="margin03rem" href="/panel/become-an-author"><p>Devenir Auteur</p></a>
            </div>
        </section>
        <section class="footer-cr">
            <p>Copyright 2023-2030 - Site réalisé avec <i class="fa-solid fa-heart" aria-hidden="true"></i> par AurelDev</p>
        </section>
    </footer>
</body>
</html>