<%- include('partials/header') %>

<main>
    <section class="left-section">
        <div class="article-title contact-title">
            <h1><%= title %></h1>
            <div class="contact-ticket">
                <p>Si vous souhaitez contacter nos équipes pour un problème sur le site, avec l'api, une question, faire une demande pour devenir auteur ou tout autres demandes ne faisant pas partie du cadre professionnel, merci de vous connecter au site et créer un ticket :</p>
                <span class="contact-ticket-span"><p>Espace profil > Support > Créer un ticket</p></span>
            </div>
        </div>
    </section>
    <section class="right-section">
        <div class="contact-mailpro">
            <h2 class="title">Demande professionnelle</h2>
            <div class="contact-mailpro-info">
                <p>Email: contact-pro@project1.com</p>
                <p>Téléphone: +33 7 01 02 03 04 05</p>
            </div>
        </div>
        <div class="contact-mailmarket">
            <h2 class="title">Demande commerciale</h2>
            <div class="contact-mailmarket-info">
                <p>Email: contact-market@project1.com</p>
                <p>Téléphone: +33 7 01 02 03 04 05</p>
            </div>
        </div>
    </section>
</main>

<%- include('partials/footer') %>